.root {
    -fx-background-color: #f5f5f5;
}

.direction-button {
    -fx-font-size: 16px;
    -fx-pref-width: 60px;
    -fx-pref-height: 60px;
    -fx-text-fill: black;
    -fx-background-color: #dcdcdc;
    -fx-border-color: #aaa;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.direction-button:hover {
    -fx-background-color: #c0c0c0;
}

.direction-button:pressed {
    -fx-background-color: #9e9e9e;
}

.action-button {
    -fx-font-size: 16px;
    -fx-pref-width: 150px;
    -fx-pref-height: 50px;
    -fx-background-color: #4caf50;
    -fx-text-fill: white;
    -fx-background-radius: 5px;
    -fx-border-color: #388e3c;
    -fx-border-radius: 5px;
    -fx-padding: 10px;
}

.action-button:hover {
    -fx-background-color: #45a049;
}

.action-button:pressed {
    -fx-background-color: #388e3c;
}

.check-box {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.label {
    -fx-font-size: 14px;
    -fx-text-fill: #555;
}

.VBox {
    -fx-spacing: 20px;
    -fx-alignment: center;
}

#intersectionGrid {
    -fx-background-color: #e0e0e0;
    -fx-border-color: #ccc;
    -fx-border-width: 2px;
}

.BorderPane {
    -fx-padding: 20px;
    -fx-background-color: #f4f4f4;
}
